<section class="container-slider-card">
    <div class="container-slider-card-woman-items">
      <ng-container *ngFor="let item of typeDto.products;let index=index">
        <item [productDto]="item"></item>
      </ng-container>

    </div>
  <div class="slider-button-div">
    <button class="btn-arrow-slider-man" (click)="btnClickRight()"><i class="fa fa-arrow-alt-circle-right"></i></button>
    <button class="slider-button-enter"> ورود به دسته {{typeDto.name}} </button>
    <button class="btn-arrow-slider-man" (click)="btnClickLeft()"><i class="fa fa-arrow-alt-circle-left"></i></button>
  </div>
</section>
