<div class="nav">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/images/logo3.png" width="60px" height="60px" alt="">
    </div>
    <div class="logo-text"></div>
  </div>

  <a [routerLink]="boss.phoneNumber" *ngFor="let boss of userDtosBoss">
    <div class="user-container ">
      <div class="user-img">
        <img src="{{backendUrlPicture}}/{{boss?.userPictureDto?.pictureUrl}}">
        <img *ngIf="!boss?.userPictureDto" src="assets/images/userIcon.png">
      </div>
      <span class="show-online-user"
            [class.display-block]="(presenceService.usersOnline$ | async).includes(boss.phoneNumber)"></span>
      <ng-container *ngIf="(presenceService.messageUnReadDtos$ | async) as unReadMessage">
        <ng-container *ngFor="let m of unReadMessage">
<span class="message-count" *ngIf="m.askerPhoneNumber==boss.phoneNumber && m.responderPhoneNumber==myPhoneNumber">
                     <i class="fa fa-envelope"></i>
          </span></ng-container>
      </ng-container>
    </div>
  </a>
  <a [routerLink]="admin.phoneNumber" *ngFor="let admin of userDtosAdmin">
    <div class="user-container " [class.online]="(presenceService.usersOnline$ | async).includes(admin.phoneNumber)">
      <div class="user-img ">
        <img *ngIf="admin?.userPictureDto" src="{{backendUrlPicture}}/{{admin?.userPictureDto?.pictureUrl}}">
        <img *ngIf="!admin?.userPictureDto" src="assets/images/userIcon.png">
      </div>
      <span class="show-online-user"
            [class.display-block]="(presenceService.usersOnline$ | async).includes(admin.phoneNumber)"></span>
      <ng-container *ngIf="(presenceService.messageUnReadDtos$ | async) as unReadMessage">
        <ng-container *ngFor="let m of unReadMessage">
          <span class="message-count"
                *ngIf="m.askerPhoneNumber==admin.phoneNumber && m.responderPhoneNumber==myPhoneNumber">
                     <i class="fa-solid fa-envelope"></i>
          </span>
        </ng-container>
      </ng-container>
    </div>
  </a>
  <a [routerLink]="seller.phoneNumber" *ngFor="let seller of userDtosSeller">
    <div class="user-container " [class.online]="(presenceService.usersOnline$ | async).includes(seller.phoneNumber)">
      <div class="user-img ">
        <img *ngIf="seller?.userPictureDto" src="{{backendUrlPicture}}/{{seller?.userPictureDto?.pictureUrl}}">
        <img src="assets/images/userIcon.png">
      </div>
      <span class="show-online-user"
            [class.display-block]="(presenceService.usersOnline$ | async).includes(seller.phoneNumber)"></span>
      <ng-container *ngIf="(presenceService.messageUnReadDtos$ | async) as unReadMessage">
        <ng-container *ngFor="let m of unReadMessage">
<span class="message-count" *ngIf="m.askerPhoneNumber==seller.phoneNumber && m.responderPhoneNumber==myPhoneNumber">
                     <i class="fa-solid fa-envelope"></i>
          </span></ng-container>
      </ng-container>
    </div>
  </a>
</div>
