<div class="details-container">
  <div class="name">
    <span>{{productDto?.name}}</span>
    <span> فروشگاه {{productDto?.store}}</span>
    <span class="" *ngIf="productDto?.count==0" style="color: darkorange;font-size: 15px">ناموجود</span>
    <span class="" *ngIf="productDto?.count>0" style="color: forestgreen;font-size: 15px">موجود</span>
  </div>
  <div class="name">
    <span><ng-container *ngIf="productDto?.colorDtos?.length > 0">رنگ بندی:</ng-container></span>
    <span class="colors"><ng-container *ngIf="productDto?.colorDtos"><div class="color"
                                                                          *ngFor="let color of productDto?.colorDtos"
                                                                          style="background-color: {{color?.value}}"></div></ng-container></span>
  </div>
  <div class="name">
    <span>قیمت:</span>
    <span class="colors" *ngIf="productDto?.off"><del>{{productDto?.price|number}}</del></span>
    <span class="colors" *ngIf="!productDto?.off">{{productDto?.price |number}} تومان </span>
    <span class="colors"
          *ngIf="productDto?.off">{{(productDto?.price - (productDto?.price / 100) * productDto?.off?.offPercent)|number}}
      تومان </span>
  </div>
  <div class="name">
    <span><ng-container *ngIf="productDto?.off">تخفیف:</ng-container></span>
    <span><ng-container *ngIf="productDto?.off">{{productDto?.off?.name}}</ng-container></span>
    <span style="color: forestgreen"><ng-container *ngIf="productDto?.off">{{productDto?.off?.offPercent}}
      %</ng-container></span>
    <span><ng-container *ngIf="productDto?.off"><span class="timer" #timerEl>2:03:48:20</span></ng-container></span>
  </div>
  <div class="" style="padding: 10px 10px;color: black">
    {{productDto?.description}}
  </div>
  <button (click)="change(information)" id="information" #information class="end-btn"> مشخصات</button>
  <button class="end-btn" (click)="change(comment)" id="comment" #comment> نظرات</button>
  <div class="information end-paper" style="width: 100%;height: auto;">
    <div class="items">
      <table>
        <tbody>
        <tr *ngFor="let productItem of productDto?.productItemDtos">
          <td>{{productItem.name}}</td>
          <td>{{productItem.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="comment end-paper" style="width: 100%;height: 700px;background-color: red"></div>
</div>
