<div class="details-container">
  <div class="name">
    <span>{{productDto?.name}}</span>
    <span> فروشگاه {{productDto?.store}}</span>
    <span class="not-exist" *ngIf="productDto?.count==0">ناموجود</span>
    <span class="exist" *ngIf="productDto?.count>0">موجود</span>
  </div>
  <div class="name">
    <span><ng-container *ngIf="productDto?.colorDtos?.length > 0">رنگ بندی:</ng-container></span>
    <span class="colors"><ng-container *ngIf="productDto?.colorDtos">
      <div class="color" *ngFor="let color of productDto?.colorDtos" style="background-color: {{color?.value}}">
      </div>
    </ng-container>
    </span>
  </div>
  <div class="name">
    <span>قیمت:</span>
    <span class="colors" *ngIf="productDto?.off"><del>{{productDto?.price|number}}</del></span>
    <span class="colors" *ngIf="!productDto?.off">{{productDto?.price |number}} تومان </span>
    <span class="colors"
          *ngIf="productDto?.off">{{(productDto?.price - (productDto?.price / 100) * productDto?.off?.offPercent)|number}}
      تومان </span>
  </div>
  <div class="name">
    <span><ng-container *ngIf="productDto?.off">تخفیف:</ng-container></span>
    <span><ng-container *ngIf="productDto?.off">{{productDto?.off?.name}}</ng-container></span>
    <span style="color: forestgreen">
      <ng-container *ngIf="productDto?.off">
        {{productDto?.off?.offPercent}}%
      </ng-container>
    </span>
    <span>
      <ng-container *ngIf="productDto?.off">
        <span class="timer" #timerEl>2:03:48:20</span>
      </ng-container></span>
  </div>
  <div class="description" >
    {{productDto?.description}}
  </div>
  <div class="items">
    <div class="value">
      <table>
        <tr *ngFor="let item of productDto?.productItemDtos">
          <td>{{item.name}}</td>
          <td>{{item.value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
