<div class="login-container">
  <div class="login">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div>
        <input type="text" placeholder="نام شما ..." formControlName="name"  required
               [ngClass]="
                     registerForm.controls.name.touched && registerForm.controls.name.errors?.required
                     || registerForm.controls.name.errors?.maxlength ||
                     registerForm.controls.name.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="registerForm.controls.name.hasError('required') &&registerForm.controls.name.touched">
          لطفا نام  را وارد کنید !
        </div>
        <div class="error" *ngIf=" registerForm.controls.name.hasError('maxlength')">تعداد
          کاراکتر ها نمیتواند بیشتر از 30 باشد !
        </div>
        <div class="error" *ngIf=" registerForm.controls.name.hasError('minlength')">تعداد
          کاراکتر ها نمیتواند کمتر از 3 باشد !
        </div>
      </div>
      <div>
      <input type="tel" placeholder="شماره همراه..." formControlName="phoneNumber" name="phoneNumber" pattern="[0-9]{4}[0-9]{3}[0-9]{4}" required
             [ngClass]="
                     registerForm.controls.phoneNumber.touched && registerForm.controls.phoneNumber.errors?.required
                     || registerForm.controls.phoneNumber.errors?.maxlength ||
                     registerForm.controls.phoneNumber.errors?.minlength ? 'input-error' :'input-success'">
      <div class="error"
           *ngIf="registerForm.controls.phoneNumber.hasError('required') &&registerForm.controls.phoneNumber.touched">
        لطفا شماره همراه را وارد کنید !
      </div>
      <div class="error" *ngIf=" registerForm.controls.phoneNumber.hasError('maxlength')">تعداد
        کاراکتر ها نمیتواند بیشتر از 11 باشد !
      </div>
      <div class="error" *ngIf=" registerForm.controls.phoneNumber.hasError('minlength')">تعداد
        کاراکتر ها نمیتواند کمتر از 11 باشد !
      </div>
      <div class="error" *ngIf=" registerForm.controls.phoneNumber.hasError('pattern')">شماره همراه صحیح نمیباشد !</div>
      </div>
      <div>
      <input type="password" placeholder="گذرواژه..." formControlName="password" [ngClass]="
                     registerForm.controls.password.touched && registerForm.controls.password.errors?.required
                     || registerForm.controls.password.errors?.maxlength ||
                     registerForm.controls.password.errors?.minlength ? 'input-error' :'input-success'"   >
      <div class="error"
           *ngIf="registerForm.controls.password.errors?.required &&registerForm.controls.password.touched">
        لطفا گذرواژه را وارد کنید !
      </div>
      <div class="error" *ngIf=" registerForm.controls.password.hasError('maxlength')">تعداد
        کاراکتر ها نمیتواند بیشتر از 30 باشد !
      </div>
      <div class="error" *ngIf=" registerForm.controls.password.hasError('minlength')">تعداد
        کاراکتر ها نمیتواند کمتر از 8 باشد !
      </div>
        <div class="error" *ngIf=" registerForm.controls.password.hasError('pattern')">
       فقط حروف بزرگ و کوچک انگلیسی و اعداد انگلیسی مجاز است
      </div>
      </div>
      <div>
        <input type="password" placeholder="تکرار گذرواژه ..." formControlName="passwordConfirm" [ngClass]="
                     registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.errors?.required
                     || registerForm.controls.passwordConfirm.errors?.maxlength ||
                     registerForm.controls.passwordConfirm.errors?.minlength ? 'input-error' :'input-success'">
        <div class="error"
             *ngIf="registerForm.controls.passwordConfirm.errors?.required &&registerForm.controls.passwordConfirm.touched">
          لطفا گذرواژه را وارد کنید !
        </div>
        <div class="error" *ngIf=" registerForm.hasError('match_error')">تعداد
           رمز ها یکسان نیست!
        </div>
      </div>
      <button type="submit" [disabled]="!registerForm.valid" [ngClass]="!registerForm.valid ? 'disable':''">ثبت نام</button>
    </form>
  </div>
</div>
