<!--
<div class="body-basket">
  <ng-container *ngIf="customerBasket$ | async as customerBasket ;else basketNotingFound">
    <table class="table" style="border-collapse: collapse">
      <tr>
        <th>محصول</th>
        <th>تصویر</th>
        <th>برند</th>
        <th>نوع</th>
        <th>تعداد</th>
        <th>قیمت</th>
        <th>تخفیف</th>
        <th>قیمت کل</th>
      </tr>
      <tr *ngFor="let item of customerBasket.customerBasketItems ">
        <td>{{item.product}}</td>
        <td style=""><img src="assets/images/12.jpg" style="height: 50px;width: 50px"></td>
        <td>{{item.brand}}</td>
        <td>{{item.type}}</td>
        <td>
          <div style="width: 70px">
            <button style="background-color: greenyellow" (click)="increaseItemQuantity(item)"><i
              class="fa fa-plus"></i></button>
            {{item.quantity}}
            <button style="background-color: orangered" (click)="decreaseItemQuantity(item)"><i class="fa fa-minus"></i>
            </button>
          </div>
        </td>
        <td>{{item.price |number}}</td>
        <td>{{item.discount}}</td>
        <td>{{item.price * item.quantity | number}}</td>
      </tr>
    </table>
  </ng-container>
  <ng-template #basketNotingFound>
    هیچ محصولی در سبد خرید وجود ندارد
  </ng-template>
  <app-order-total></app-order-total>
</div>
-->
