<div class="container-search">
  <div class="search-bar">
    <div class="container-search-btn">
      <input type="text" #search id="input-search" class="input-search" placeholder="جستجو کنید..." (keyup.enter)="changeSearch()">
      <button class="btn-search" (click)="changeSearch()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="select-filters">
    <div class="select-right-filters">
      <select (change)="onChangeType($any($event.target)?.value)">
        <option class="option" value="00000000-0000-0000-0000-000000000001">دسته بندی</option>
        <option class="option" *ngFor="let type of typeDtos" [value]="type?.id">{{type?.name}}</option>
      </select>
    </div>
    <div class="select-left-filters">
      <select (change)="onChangeBrand($any($event.target)?.value)">
        <option class="option" value="00000000-0000-0000-0000-000000000000">برند</option>
        <option class="option" *ngFor="let brand of brandDtos" [value]="brand?.id">{{brand?.name}}</option>
      </select>
    </div>
  </div>
  <!--<div class="select-filters">
    <div class="select-right-filters">
      <select (change)="onChangeSort($any($event.target)?.value)">
        <option class="option" value="0">مرتب سازی</option>
        <option [selected]="item.key=== productSearchDto?.sortType" class="option" *ngFor="let item of sortOptions" [value]="item?.key">{{item?.title}}</option>
      </select>
    </div>
    <div class="select-left-filters">
      <select (change)="onChangeTypeSort($any($event.target)?.value)">
        <option class="option" value="0">ترتیب</option>
        <option [selected]="item.key=== productSearchDto?.sortType" class="option" *ngFor="let item of sortTypeOptions" [value]="item?.key">{{item?.title}}</option>
      </select>
    </div>
  </div>-->
</div>
