@import "src/assets/styles/practicalValue";

.result-card{
  display: flex;
  flex-flow: wrap;
  .container-slider-card-item {
    border-top: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    position: relative;

    padding-top: 19px;
    background: $color-white-a5;
    margin: 2vh 5px;
    width: 195px;

    &:hover {
      transform: scale(1.01);
      transition: all ease .3s;
    }

    .timer {
      margin: 0 auto;
      height: 20px;
      position: absolute;
      top: -10px;
      right: 0;
      opacity: 1;
      background: $color-black;
      display: inline;
      color: $color-burlywood;
      font-size: 1.5vh;
      padding: 1px 3px;
    }

    .new-Price {
      margin: 0 auto;
      height: 20px;
      position: absolute;
      bottom: -10px;
      right: 0;
      opacity: 1;
      background: $color-black;
      display: inline;
      color: $color-burlywood;
      font-size: 1.5vh;
      padding: 1px 3px;
    }

    .old-price {
      margin: 0 auto;
      height: 20px;
      position: absolute;
      bottom: -10px;
      left: 0;
      opacity: 1;
      background: $color-black;
      display: inline;
      color: $color-burlywood;
      font-size: 1.5vh;
      padding: 1px 3px;
      text-decoration: line-through;
    }

    .card-image {
      position: relative;
      width: 195px;
      height: 195px;
      padding: 4px;
      object-fit: contain;
      overflow: hidden;

      .card-enter-product {
        bottom: 4px;
        right: 4px;
        width: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        line-height: 300%;
        border: 1px solid $color-black;
        border-right: 0;
        height: 25%;
        background: $color-white;
        transition: ease .4s;
        opacity: .6;

        &:hover {
          background: $color-saddlebrown;
        }
      }

      .card-details {
        top: 4px;
        left: 0;
        position: absolute;
        height: 195px;
        background: $color-white;
        transition: ease .4s;
        opacity: .6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .details-button {
          border: none;
          width: 100%;
          height: 20%;
          font-size: 1vh;

          &:hover {
            background: $color-saddlebrown;
            transition: .4s;
          }
        }
      }

      img {
        width: 215px;
        height: 215px;
        object-fit: cover;
      }
      .off {
        border: 1px solid $color-black;
        text-align: center;
        top: 10px;
        right: 10px;
        position: absolute;
        width: 40px;
        height: 25px;
        background: $color-white-a6;
      }
    }
    .card-body {
      color: $color-black;
      .card-title {
        text-align: center;
        padding: 20px 15px;
      }
    }
  }
}

@media screen and (max-width: 900px)
{
.container-slider-card-item{
  background-color: black;
}
}
