<nav class="nav">
  <ul class="nav-ul">
    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/" routerLinkActive="active">
        <i class="fa fa-home nav-ul-li-i" aria-hidden="true">
    </i>
        <br>خانه</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/search"><i class="fa fa-search nav-ul-li-i" aria-hidden="true">
      </i><br>جستجو</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/basket">
        <i class="fa fa-shopping-basket nav-ul-li-i" aria-hidden="true">
        </i><br>سبد</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/favorite">
        <i class="fa fa-heartbeat nav-ul-li-i" aria-hidden="true">
        </i><br>علاقه ها</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/chat"><i class="fa fa-comments nav-ul-li-i" aria-hidden="true">
      </i><br>چت</a>
    </li>

    <li class="nav-ul-li" routerLinkActive="active">
      <a routerLink="/auth"><i class="fa fa-user-circle nav-ul-li-i" aria-hidden="true">
      </i><br>پروفایل</a>
    </li>

  </ul>
</nav>
