<div class="total" style="display: flex ; background-color: antiquewhite;width: 100% ;font-size: 15px" *ngIf="basketTotal$ | async as basketTotal">
  <div class="sub-total" style="border: 1px solid black">
    <span class="title">هذینه ارسال:</span>
    <div class="value">{{basketTotal.shipping}}</div>
  </div>
  <div class="sub-total">
    <span class="title">جمع محصولات :</span>
    <div class="value">{{basketTotal.subTotal | number}}</div>
  </div>
  <div class="sub-total">
    <span class="title">قیمت نهایی:</span>
    <div class="value">{{basketTotal.total | number}}</div>
  </div>
</div>
