@import "../../../../assets/styles/practicalValue";
.bg-black-a7{
  background:$color-black-a7 !important;
}
.bg-brown-a3{
  background:$color-brown-2-a3 !important;
}
.container-slider-card {
  width: 100%;
  background:$color-black-a6;
  .slider-button-div {
    display: flex;
    justify-content: space-around;
    .btn-arrow-slider-man {
      background: $color-black;
      color: $color-burlywood;
      padding-left: 20px;
      padding-right: 20px;
      border: 1px solid $color-burlywood;
      &:hover{
        background: $color-saddlebrown;
        color: $color-black;
      }
    }
    .slider-button-enter {
      display: inline;
      background: $color-black;
      color: $color-burlywood;
      padding: 1vh 10px;
      opacity: .9;
      border: 1px solid $color-burlywood;
      text-align: center;
      &:hover {
        background: $color-burlywood;
        color: $color-black;
        transition: ease .4s;
      }
    }
  }
    .container-slider-card-woman-items {
      padding-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      padding-top: 35px;
    }
  }

::-webkit-scrollbar {
  background: bisque;
  border: white;
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
  background: crimson;
}
